#main_container {
	text-align:left;
	width: 650px;
	margin:10px auto;
	padding:0px;
	border:1px solid #999999;
}
#header {
	margin:0px;
	padding:16px 10px 10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	/*background-color:#F7F7FA;*/
	background:url("/nectar/images/title_back.gif")
      repeat-x left top;
}
#col_container {
	position:relative;
	width:650px;
	clear:both;
}
#left_col {
	width:475px;
	padding:0px 10px 10px 10px;
	background-color:white;
	float:left;
	border-right:1px solid #AAAAAA;
}
#right_col {
	float:right;
	width: 147px;
	padding:0px;
	text-align:left;

}
#footer {
	padding:10px;
	clear:both;
	border-top:1px solid #999999;
	text-align:center;
	background-color:white;
	font-size:12px;
}
