body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}
img {
	border:none;
}
a:link {
	text-decoration:none;
	color:#3E4FC6;
}
a:visited {
	text-decoration:none;
	color:#4F4F7F;
}
a:hover {
	text-decoration:underline;
}
a:active {
}

#title {
	font-size: 24px;
	line-height: normal;
	font-weight: bold;
	color: #5169AA;
	margin:0px;
	padding:0px;
	text-align:center;
}
#subtitle {
	font-size: 18px;
	font-weight: normal;
	margin:0px;
	padding:0px;
	color:black;
	text-align:center
}
.list_links {
	margin:0px;
	padding:0px 0px 0px 3px;
	list-style:none;
	font-size:11px;
	line-height:150%;
}
.list_links li {
	margin:0px;
	padding:0px;
}
.side_heads {
	margin:8px 0px;
	padding:4px 0px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	border-bottom:1px solid #CCCCCC;

}
#right_col hr {
	width:100px;
	color:#CCC;
    background-color:#CCC;
	height:1px;
	border:none;
	padding:0px;
	margin:5px auto;
}
.proj_listtitle {
	line-height:normal;
	margin:14px 0px 6px;
	padding:0px;
	font-size:14px;
	font-weight:bold;
}
.proj_abstract {
	line-height:130%;
	margin:6px 0px;
	padding:0px 0px 0px 8px;
	font-size:12px;
}
.cat_head_first {
	margin:0px -10px;
	background-color:#EAE5CC;
	text-align:left;
	padding:8px;
	border-bottom:1px solid #999999;
	font-size:16px;
	font-weight:bold;
}
.cat_head {
	margin:16px -10px 0px;
	background-color:#EAE5CC;
	text-align:left;
	padding:8px;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	font-size:16px;
	font-weight:bold;
}
.proj_head {
	margin:0px -10px;
	background-color:#EAE5CC;
	text-align:center;
	padding:8px;
	border-bottom:1px solid #999999;
	font-size:16px;
	font-weight:bold;
}
.proj_members {
	line-height:150%;
	margin:12px 12px;
	font-size:12px;
	font-weight:bold;
}
.proj_description {
	line-height:150%;
	margin:12px 12px;
	font-size:12px;
}
ul.proj_description {
	list-style:outside disc;
	margin-left:3em;
	padding:0px;
}
ul.proj_description li {
	margin:1ex 0px;
	padding:0px;
	line-height:125%;
}

.figure_right {
	display:inline;
	float:right;
	margin:6px 12px 12px;
	padding:10px;
	border:1px solid #E0E0E0;
}
.figure_left {
	display:inline;
	float:left;
	margin:6px 12px 12px;
	padding:10px;
	border:1px solid #E0E0E0;
}
.fig_caption {
	font-size:10px;
	text-align:center;
	margin-bottom:0px;
	line-height:115%;
	margin:2px auto 0px;
}
#uma_fig1 {
	width:200px;
}
#uma_fig2 {
	width:200px;
}
#uma_fig3 {
	width:250px;
}
#home {
	margin:8px 0px 12px;
	padding:4px 0px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}
#menu {
	float:left;
	line-height:normal;
	width:100%;
	font-size:11px;
	border-bottom:6px solid #7B94AF;

}
#menu ul {
	margin:0px;
	padding:10px 10px 0;
	list-style:none;

}
#menu ul li {
	float:left;
	margin:0px;
	padding:0px;

      no-repeat right top;

background-image: url("inactive_right_tab.jpg")


}
#menu  ul li a {

	display:block;
	background:url("inactive_left_tab.gif")
      no-repeat left top;
    padding:6px 18px 4px 10px;
	font-weight:bold;
	color:#667799;


}
#menu #current_section {
    background:url("active_right_tab.gif")
}
#menu  #current_section a {
background:url("active_left_tab.gif")
	color:#FFFFFF;
}
.note {
	font-size:11px;
	padding:6px;
	background:#FFFFE1;
	border:1px solid #FFE1E1;
	margin:12px 0px;
}
.news_date {
	font-size:12px;
	font-style:italic;
	border-top:2px solid #F2F2F2;
	padding-top:4px;
	margin:12px 0px;
}
.news_authors {
	font-size:12px;
	font-style:italic;
	margin-left:12px;
}
.pub_list {
	list-style:outside square;
	margin:0px;
	padding-left:26px;
	font-size:12px;
}
.pub_list li {
	margin:10px 0px;
}


.footnote {
	line-height:125%;
	margin:12px 12px;
	font-size:10px;
}
ol.proj_description {
	margin-left:3em;
	padding:0px;
}

ol.proj_description li {
	margin:1ex 0px;
	padding:0px;
	line-height:125%;
}

.demo_form {
	border:1px dotted #BBB;
	margin: 12px;
	padding: 0px 6px;
}

